@page "/customers/add"
@using Bootcamp.Client.Blazor.Services
@using Bootcamp.Data.Entities
@using Bootcamp.Client.Blazor.Config;
@inject NavigationManager NavManager

<h3>Add New Customer</h3>

<div>First Name</div>
<input type="text" name="first_name" id="first_name" @bind="Customer!.FirstName" />
<div>Last Name</div>
<input type="text" name="last_name" id="last_name" @bind="Customer!.LastName" />
<div>Email</div>
<input type="text" name="email" id="email" @bind="Customer!.Email" />
<div>Phone Number</div>
<input type="text" name="phone_number" id="phone_number" @bind="Customer!.PhoneNumber" />
<br />
<button class="btn-primary" @onclick="this.SaveCustomer">Save</button>
<button class="btn" @onclick="this.GoBack">Back</button>

@code {
    private Customer? Customer { get; set; }

    [Inject]
    public CustomerService CustomerService { get; set; } = default!;


    protected override void OnInitialized()
    {
        this.Customer = new Customer();
    }

    public async Task SaveCustomer()
    {
        // TODO: Add validation checks to make sure empty data cant be submitted
        this.Customer = await this.CustomerService.AddCustomerAsync(this.Customer);
        this.GoBack();
    }

    public void GoBack()
    {
        NavManager.NavigateTo("/customers");
    }
}
